body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #242424;
}

h1 {
    margin-top: 16px;
    margin-bottom: 8px;
    color: white;
}

.name {
    color: rgb(218, 0, 0);
}

#infoPanel {
    background: #ffffff;
    padding: 10px 16px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 6px 6px rgba(117, 0, 0, 0.8);
    width: 800px;
    box-sizing: border-box;
}

#status {
    margin-bottom: 6px;
    font-weight: bold;
}

#progress,
#timer {
    font-size: 0.9rem;
}

#controls {
    margin-top: 6px;
}

#restartBtn {
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background: #1976d2;
    color: white;
    cursor: pointer;
}

#restartBtn:hover {
    background: #13589c;
}

#map {
    height: 500px;
    width: 800px;
    border-radius: 6px;
    box-shadow: 0 6px 6px rgba(117, 0, 0, 0.8);
    margin-bottom: 24px;
}